<app-caracteritica *ngIf="personaSeleccionada" [persona] = personaSeleccionada></app-caracteritica>
<div class="card border-secondary my-3 mb-3">
  
  <div class="card-body text-warning">
    <h1 class="card-title">Listado de Personas</h1>

    <div class="my-2 text-left">
      <button 
        class="btn btn-rounded btn-primary"
        [routerLink]="['/personas/form']"
      >Crear Persona
    </button>
    </div>
    <div
      class="alert alert-info"
      *ngIf="personas.length === 0"
    >
    No hay personas en la base de datos
    </div>

    <table class="table table-bordered table-striped" *ngIf="personas.length !== 0">
      <thead class="text-primary">
          <tr>
              <th>#</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>Tipo de Documento</th>
              <th>Numero de Documento</th>
              <th>Fecha de Nacimiento</th>
              <th>editar</th>
              <th>eliminar</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let persona of personas">
            <td class="text-primary">
              <!-- Persona sin foto-->
              <img 
                (click)="abrirModal(persona)" 
                src="http://localhost:8080/images/no-usuario.png" 
                class="img-thumbnail rounded"
                style="width: 64px; cursor: pointer;"  
              >

            </td>
              <td>{{persona.perNombre}}</td>
              <td>{{persona.perApellido}}</td>
              <td>{{persona.tipoDocumento.tipo}}</td>
              <td>{{persona.perNumeroDocumento}}</td>
              <td>{{persona.perFechaNacimiento | date: 'dd/MM/yyyy'}}</td>

              <td><button type="button" class="btn btn-primary" [routerLink]="['/personas/form', persona.perId]">Editar</button></td>
              <td><button type="button" class="btn btn-danger" (click)="delete(persona)">Eliminar</button></td>

          </tr>
      </tbody>
    </table>

  </div>
</div>

